<h1>Please Upload A CSV File</h1>
      <form action="/uploadfile" enctype="multipart/form-data" method="post" onsubmit="submitFile()"> -->
        <!-- <form  enctype="multipart/form-data" method="post" onsubmit="submitFile(e)"> -->
        <input type="file" name="uploadfile" id="uploadfile" accept='csv' >
        <input type="submit" value="csvFile">
</form>  